{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ college.clg_name }}</title>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="clg-body">

    <header>
        <div class="container text-center pb-3">
            <img src="../../media/{{ college.logo }}" class="img-fluid img-inline mr-4" style="height: 120px;">
            <h1 class="font-quicksand text-dark p-1 d-inline align-middle border-bottom">    
                {{ college.clg_name }}
            </h1>
        </div>
    </header>

    <section class="bg-dark mb-3 sticky-top" id="clg-navbar">
        <div class="pos-f-t">
            
            <nav class="navbar navbar-dark bg-dark d-flex">
                <div class="text-center flex-grow-1 pl-5"><span class="lead text-light">A college under Deoghar University</span></div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>

            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">Collapsed content</h5>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
        </div>
    </section>

    

    <section id="photo-slide">
        
        <div id="carousel-1" class="carousel slide container mb-3" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for picture in college.pictures.all %}
                    <li data-target="#carousel-1" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                <div class="p-2 bg-white border rounded clearfix">
                    {% for picture in college.pictures.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <img class="d-block w-100" src="../../media/{{picture.pic}}" alt="Pic #{{forloop.counter}}">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Caption Head {{forloop.counter}}</h3>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            <li class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </li>
            <li class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </li>
        </div>
    </section>

    <section id="clg-hello">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-3">
                    <div class="card">
                        <h5 class="card-header">Testing</h5>
                        <div class="card-body">
                            <div id="carousel-2" class="carousel slide container" data-ride="carousel">
                                <ol class="carousel-indicators mb-0 mx-auto">
                                    <li data-target="#carousel-2" data-slide-to="0" class="active bg-dark"><i class="fas fa-minus"></i></li>
                                    <li data-target="#carousel-2" data-slide-to="1" class="bg-dark"><i class="fas fa-minus"></i></li>
                                    <li data-target="#carousel-2" data-slide-to="2" class="bg-dark"><i class="fas fa-minus"></i></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item text-dark active">
                                        <div class="d-block w-100" style="height: 300px;">
                                            <div class="mx-5 px-2 py-4">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, deleniti incidunt, odit quidem in amet hic, numquam repellat facere illo magni quas excepturi doloribus soluta illum repellendus? Reprehenderit, totam officia aliquam, esse alias earum ullam ratione quas nisi ex dolore? Non dignissimos velit beatae tempore quas repellendus porro soluta exercitationem.
                                            </div>
                                            <div class="text-center mt-5"><button class="btn btn-outline-primary w-50">Test</button></div>
                                            
                                        </div>
                                    </div>
                                    <div class="carousel-item text-dark">
                                        <div class="d-block w-100" style="height: 300px;">
                                            <div class="mx-5 px-2 py-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, deleniti incidunt, odit quidem in Reprehenderit, totam officia aliquam, esse alias earum ullam ratione quas nisi ex dolore? Non dignissimos velit beatae tempore quas repellendus porro soluta exercitationem.</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item text-dark">
                                        <div class="d-block w-100" style="height: 300px;">
                                            <div class="mx-5 px-2 py-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, deleniti incidunt, odit quidem in amet hic, numquam repellat facere illo magni quas excepturi doloribus soluta illum repellendus? Reprehenderit, totam officia aliquam, esse alias earum ullam ratione quas nisi ex dolore? Non dignissimos velit beatae tempore quas repellendus porro soluta exercitationem.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <li class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
                                <i class="fa fa-caret-left text-dark display-5" ></i>
                                <span class="sr-only">Previous</span>
                            </li>
                            <li class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
                                <i class="fa fa-caret-right text-dark display-5" ></i>
                                <span class="sr-only">Next</span>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">

                    <div class="card " id="clg-notice-board">
                        <h5 class="card-header">News & Events</h5>
                        <div class="card-body pb-2">
                            <ul class="list-unstyled marquee">
                                <li class="py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                                <li class="py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita iure eos perspiciatis.</li>
                                <li class="py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima ratione dicta!
                                </li>
                                <li class="py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, obcaecati!</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <footer class="bg-dark text-light"></footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/navbar-fixed.js' %}"></script>
    <script src="{% static 'js/jquery.marquee.min.js' %}"></script>

    <script>
        $(function () {
            $('.marquee').marquee({
                //If you wish to always animate using jQuery
                allowCss3Support: true,

                //works when allowCss3Support is set to true - for full list see http://www.w3.org/TR/2013/WD-css3-transitions-20131119/#transition-timing-function
                css3easing: 'linear',

                //requires jQuery easing plugin. Default is 'linear'
                easing: 'linear',

                //pause time before the next animation turn in milliseconds
                delayBeforeStart: 1000,
                //'left', 'right', 'up' or 'down'
                direction: 'up',

                //true or false - should the marquee be duplicated to show an effect of continues flow
                duplicated: true,

                //speed in milliseconds of the marquee in milliseconds
                duration: 15000,

                //gap in pixels between the tickers
                gap: 20,

                //on cycle pause the marquee
                pauseOnCycle: false,

                //on hover pause the marquee - using jQuery plugin https://github.com/tobia/Pause
                pauseOnHover: true,

                //the marquee is visible initially positioned next to the border towards it will be moving
                startVisible: false
            });
        });

    </script>
</body>
</html>