@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
$primary-color: #008ed6;
$color-2: rgb(58, 74, 178);
$color-3:#343a40;
$color-4: #dadada;
$home-height: 768px;

select.form-control {
    -webkit-appearance: none;
}

pre {
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    font-family: "Times New Roman",
    Times,
    serif;
}

body {
    min-width: 496px;
}
.separator-5 {
    height: 50px;
}
.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
#navbar {
    border-bottom: $primary-color 5px solid;
    background-color: black;
    opacity: 0.9;
}
.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}
#header {
    background-image: url("../img/homepage.jpeg");
    min-height: $home-height;
    background-size: cover;
    background-attachment: fixed;
    #dark-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: $home-height;
    }
    .container{
        margin-top: 150px;
        padding-bottom: 20px;
    }
}
#colleges {
    * {
        border-radius: 0;
    }
    #accordion {
        @extend .border-bottom;
        .card {
            &:nth-of-type(even) {
                border-right: $color-4 2px solid;
                border-left: $color-4 2px solid;
                .card-header {
                    background-color: $color-4;
                    .btn-link {
                        color: $color-3;
                    }
                }
                .card-body {
                    background-color: #fff;
                }
                // REORDER
                .col-lg-8 {
                    @extend .order-lg-2;
                }
                .col-lg-4 {
                    @extend .order-lg-1;
                }
            }
            &:nth-of-type(odd) {
                .card-header {
                    background-color: $color-3;
                    .btn-link {
                        color: #fff;
                    }
                }
                .card-body {
                    background-color: #f8f9fa;
                }
            }    
        }
    }
}
#notice-board {
    margin: 0;
    background-color: #e8e8df;
    ul {
        min-height: 400px;
        max-height: 500px;
        overflow: hidden;
        padding: 40px;
        border: 5px $color-3 solid;
        border-radius: 10px;
        background-color: #01a25c;
        color: #fff;
        li {
            @extend .lead;
            @extend .text-center;
            @extend .py-2;
        }
    }
}


#clg-body {
    background-color: #f2f2f2;

    header {
        border-top: $color-2 5px solid;
        padding-top: 5px;
    }

    #clg-navbar {
        border-top: $color-2 5px solid;
    }
    #clg-notice-board {
        margin: 0;
        min-height: 300px !important;
        max-height: 400px !important;

        ul {
            min-height: 300px !important;
            max-height: 400px !important;
            overflow: hidden;
        }
    }
}

// #student-body {
//         fieldset {
//             legend {
//                 @extend .pt-4;
//                 @extend .pl-4;
//             }
//             table {
//                 width: 100%;
//                 tr {
//                     @extend .row;

//                     td {
//                         div {
//                             @extend .row;
//                             label {
//                                 @extend .col-md-3;
//                                 font-weight: 500;
//                             }
//                             div {
//                                 @extend .col-md-9;
//                             }
//                         }
//                     }

//                     td:nth-child(1) {
//                         @extend .col-md-10;
//                     }
//                     td:nth-child(2) {
//                         @extend .col-md-2;
//                     }
//                 }

//                 .delete-row {
//                     @extend .p-0;
//                     @extend .text-primary;
//                     text-transform: capitalize;
//                 }

//                 .delete-row ~ div {
//                     visibility: hidden;
//                 }
//             }
//         }
// }



