{% extends 'base.html' %}
{% load static %}
{% block title %}
Admin Login
{% endblock title %}
{% block body %}
<body>
    <div class="container">
        <h1>Admin Login</h1>
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelpId" placeholder="Username">
              <small id="usernameHelpId" class="form-text text-muted">Enter your username</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            {% comment %} <input type="hidden" name="next" value="{% url next %}"> {% endcomment %}
            <button type="submit" class="btn btn-primary">Login</button>    
        </form>
    </div>
</body>
{% endblock body %}