{% extends 'base.html' %}
{% load static %}
{% block title %}
University Portal
{% endblock title %}
{% block body %}
<body data-spy="scroll" data-target="#navbarNav" data-offset="110">
    
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-4" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#"><span class="h1">Unital</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link h5 mx-3" href="#header">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mx-3" href="#collegesHeader">Colleges</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5 mx-3" href="#notice-board-header">News & Events</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="user-login-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i><span class="h5 ml-3 font-weight-light">{{ user.first_name }}</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="user-login-dropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                                </div>
                            </div>
                        {% else %}
                        <a class="nav-link h5 mx-3" href="#guest-login">Guest Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <header id="header" class="text-light">
        <div id="dark-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <h1 class="display-4 font-weight-bold border-bottom font-quicksand"><span class="text-primary">Unital</span><span class="h1"> : Single portal for every colleges in <strong>XYZ University</strong>, Gwalior</span></h1>
                        <p class="lead py-3 font-italic">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis vitae unde in non. Sequi id incidunt, autem placeat illo, architecto voluptatum dolore reprehenderit, repellat modi laborum quas. Delectus saepe unde, earum autem esse quod placeat neque optio vero quos libero obcaecati nam, quibusdam adipisci. Ex architecto, praesentium repellat eos consequatur deleniti minima error odio dolores, saepe fugit ipsam iusto voluptatem dignissimos optio earum eius eaque maiores 
                        </p>
                    </div>
                    <div class="col-xl-4 d-none d-xl-block">
                        <div>
                            <img src="{% static 'img/university.jpg'%}" class="img-thumbnail mt-3 ml-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- COLLEGES HEADER -->
    <section id="collegesHeader" class="bg-dark text-light text-center py-4">
        <h1 class="display-4">Colleges Under XYZ University</h1>
    </section>

    <!-- COLLEGES BODY -->
    <section id="colleges" class="my-5 pb-5 bg-faded">
        <div class="container">
            <h1 class="text-primary mb-4 font-weight-light">These are the colleges -</h1>
            <div id="accordion">

                {% for college in college_list %}
                <div class="card">
                    <div class="card-header" id="heading-{{ forloop.counter }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{ forloop.counter }}">
                                {{ college.clg_name}}
                            </button>
                        </h5>
                    </div>
            
                    <div id="collapse-{{ forloop.counter }}" class="collapse {% ifequal forloop.counter 1 %}show{% endifequal %}" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-8 col-xl-6">
                                    <img src="media/{{ college.clg_pic }}" class="img-fluid img-thumbnail rounded p-1" alt="">
                                </div>
                                <div class="col-lg-4 col-xl-6 p-3 d-flex flex-column">
                                    <h2 class="text-center text-dark border-bottom pb-2">{{ college.clg_name}}</h2>
                                    <p class="text-muted text-center pb-4">
                                        {{ college.desc }}
                                    </p>

                                    <a class="btn btn-primary btn-block mt-auto text-light" href="college/{{ college.clg_u_name }}">Visit College Website</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <!-- NOTICE BOARD HEADER -->
    <section id="notice-board-header" class="bg-dark text-light text-center py-4 mt-5">
        <h1 class="display-4">News And Events</h1>
    </section>

    <!-- NOTICE BOARD BODY -->
    <section id="notice-board">
        <div class="container">
            <div class="separator-5"></div>
            <ul class="list-unstyled marquee">
                {% for notice in notice_list %}
                <li class="shadow-sm rounded py-0" style="cursor: pointer;">{{ notice.title }}</li>
                <hr class="bg-light my-1">
                {% endfor %}
            </ul>
            <div class="separator-5"></div>
        </div>
    </section>

    {% if not user.is_authenticated %}
    <!-- GUEST LOGIN -->
    <section id="guest-login" class="bg-info text-center text-light py-3">
        <h1 class="display-4">Guest Login</h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat repellat quos asperiores exercitationem sed!</p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-primary btn-lg bg-white text-secondary py-2 px-4 my-2" data-toggle="modal" data-target="#guestLoginModal">
            Guest Login
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="guestLoginModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content text-dark">
                    <div class="modal-header bg-info text-light">
                        <h4 class="modal-title" id="guestLoginModalLabel">Guest Login</h4>
                        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="float-left" for="guest-username">Username</label>
                                <input type="text" class="form-control" name="username" id="guest-username" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label class="float-left" for="guest-password">Password</label>
                                <input type="password" class="form-control" name="password" id="guest-password" placeholder="Password">
                            </div>
                            <input type="hidden" name="user_type" value='guest'>
                            <button type="submit" class="btn btn-primary btn-block btn-lg mt-2">Login</button>
                            {% comment %} <div class="clearfix">
                                <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary w-50 float-right">Login</button>
                            </div> {% endcomment %}
                            
                        </div>
                        <div class="modal-footer bg-light">
                            <div class="list-group d-block w-100">
                                <a href="#" class="list-group-item list-group-item-action bg-light">Forgot password? Reset here...</a>
                                <a href="#" class="list-group-item list-group-item-action bg-info text-light">New User? Register here...</a>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <footer id="main-footer" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col text-center text-light">
                    <div class="py-4">
                        <h1 class="h3"><strong>Unital</strong>  <span class="small">Copyright &copy; 2019</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/tether.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/navbar-fixed.js' %}"></script>
    <script src="{% static 'js/jquery.marquee.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('.marquee').marquee({
                allowCss3Support: true,
                css3easing: 'linear',
                easing: 'linear',
                delayBeforeStart: 1000,
                direction: 'up',
                duplicated: true,
                duration: 15000,
                gap: 20,
                pauseOnCycle: false,
                pauseOnHover: true,
                startVisible: false
            });
        });

    </script>

</body>
{% endblock body %}